.frame{
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
}


.background{
  background-color: rgb(209, 240, 230);
  padding: 20px;
  width: 300px;
  height: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;

}

input,button{

  color: rgb(99, 99, 90);
  width: 60%;
  height: 50px;
  padding: 10px;
  margin: 20px;
  justify-content: space-around;


}
